.card-container{
  margin: 10rem 0 0 5rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
.splash-screen-text {
  margin-top: 4.5rem;
  flex: 1;
  font-family: Arial;
  color: white;
  font-size: 4.5em;
  width: 500px;
  font-weight: 500;
}
.more-info-button-container {
  flex: 1;
  z-index: 100;
  margin-bottom: 70px;
}
.more-info-button:hover {
  box-shadow: 1px 1px 8px rgba(255, 255, 255, 0.25);
}
.more-info-button:active {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.25);
}
#infoButton a {
  text-decoration: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
} 

/*

  Flags/Services Bar 

*/

.flags-services-container {
  font-family: Arial;
  position: relative;
  margin-top: -7.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flags-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin-bottom: .625rem;
}

.flags {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.services-container {
  width: 90vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.services-container-item a {
  text-decoration: none;

  display: flex;
}
.services-container-item  {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  cursor: pointer;
  transition: color  0.15s;
  border-right: 1px solid rgb(193, 193, 193);
}

.services-container-item.services-first a{ 
  width: 12rem;
}

.services-container-item.services-last  {
  border-right: 0;
  
}

.services-container-item i {
  color: #ea2a2a;
  font-size: 3.75em;
  font-weight: bolder;
  margin-right: .5rem;
}
.services-container-item.services-first i { 
  margin-right: 0;
}

.services-container-item-text {
  font-weight: bold;
  color: #05395d;
  font-size: 1.7em;
  padding: 0;
  margin: 0;
  align-items: center;
}

.services-container-item-text:hover {
  color: rgb(9, 101, 166);
  .services-container i {
    color: rgb(135, 22, 22);
  }
}

/* .services-logo {
  padding-left: 1.25em;
  width: 2.8em;
  height: 2.8em;
} */

/* 
  END Flags/Services Bar
*/

/*
  Main Services
*/
.main-services-container {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  margin-top: 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-services-title {
  font-size: 3.75em;
  color: #05395d;
}
.main-services-subtitle {
  margin-top: 1.125rem;
  margin-left: 2.5em;
  margin-right: 2.5em;
  text-align: center;
  line-height: 1.6;
}
.flag-icon {
  width: 1em;
  border-radius: 2px;
}
.main-services-line-break-container {
  display: flex;
  margin-top: 1rem;
}
.divider {
  height: .125em;
  background-color: #ea2a2a;
  width: 12.5em;
}
.main-services-row {
  display: flex;
  justify-content: center;
  margin: 1.5rem 5rem 0 5rem;
}
.service-box {
  border: 0.0625em solid rgb(193, 193, 193);
  border-radius: .625em;
  background-color: rgb(246, 244, 244);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em 2em;
  margin: .3em;
  cursor: pointer;
  transition: background-color 0.15s;
  width: 100%;
}
.service-box:hover {
  background-color: white;
  .service-box i {
    color: white;
  }
}
.service-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25em;
  background-color: #ea2a2a;
  margin-bottom: 2rem;
  border-radius: 3.75em;
  transition: background-color 0.15s;
}
.service-icon-container:hover {
  background-color: rgb(219, 39, 39);
}
.service-box i { 
  font-size: 5em;
  color: white;
}

.service-box-text {
  width: auto;
  text-align: center;
  color: #05395d;
  font-weight: bold;
  font-size: 2em;
  margin: 0;
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3.25rem 0 3.25em 0;
}

.services-more-info-button {
  background-color: #ea2a2a;
  color: white;
  border: none;
  padding: 1em 1.6em;
  font-size: 1.25em;
  border-radius: 9.625em;
  cursor: pointer;
  font-weight: 500;
  font-style: italic;
}

.services-more-info-button:hover {
  background-color: rgb(219, 39, 39);
}

/*
  END Main Services
*/


/*
  Tips, Promotions, and Calendar
*/
.instagram-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 2rem;
  font-family: Arial;
  color: #ea2a2a;
  font-size: 2.5em;
  font-weight: bold;
  text-wrap: wrap;
  text-align: center;
}

.instagram-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
  END Tips, Promotions, and Calendar
*/

/*
  Exchange Rates Modal
*/


@media (max-width: 1100px) {
  .splash-screen-text {
    font-size: 3.5em;
    width: 15.625em;
  }
  .main-services-container {
    margin-top: 6.25rem;
    text-align: center;
  }

  .main-services-title {
    text-align: center;
    font-size: 4em;
  }

  .main-services-subtitle {
    font-size: 1em;
  }

  .flag-icon{
    width: 0.625rem;
  }

  .main-services-row {
    flex-direction: column;
    margin: 1.5rem;
    align-items: center;
  }

  .instagram-title {
    justify-content: center;
  }
}

@media (max-width: 1050px) {
  .services-container {
    flex-direction: column;
    top: -1.2em;
    right: 2em;
    left: 2em;
  }
  .services-container-item {
    height: 4.4em;
    justify-content: start;
    border-right: none;
    border-bottom: 1px solid rgb(193, 193, 193);
    padding: .75em 0;
    width: 100%;
  }
  .services-container-item.services-first a{ 
    width: auto;
  }
  .services-container-item.services-first i { 
    margin-right: 0.5rem;
  }
  .services-container i {
    font-size: 2.7em;
    margin: 0 .75rem;
  }
  .services-last {
    border-bottom: none;
  }
  .services-last i {
    margin-left: 0.625rem;
  }

  .services-container-item i {
    margin-left: 0.625rem;
  }
  .services-container-item-text {
    font-size: 1.4em;
  }
}

@media (max-width: 750px) { 
  .services-container-item-text {
    font-size: 1.2em;
  }
  .main-services-container {
    margin-top: 6rem;
  }
}
